.section.bg-gradient-primary.text-white#get-started
	.container
		.row
			.col-md-8
				h2.font-weight-thin Ready to get started?
				h2.font-weight-regular Get in touch or create an account.

			.col-md-4.text-center.d-flex.justify-content-center.align-items-center
				p
					a.btn.rounded-pill.btn-success.mt-3.mr-4(href="javascript:") Get Started
					a.btn.rounded-pill.btn-white.mt-3(href="javascript:") Contact Sales
