.section.bg-gradient-primary.text-white#get-started
	.container
		.row
			.col-md-8
				h2.font-weight-thin Ready to get started?
				h2.font-weight-regular Get in touch or create an account.

			.col-md-4.text-center.d-flex.justify-content-center.align-items-center
				a.btn.rounded-pill.btn-success(href="javascript:") Get Started
				a.btn.rounded-pill.btn-white.ml-4(href="javascript:") Contact Sales
