footer.footer-sm
	.container
		.row
			.col-md-8.mx-auto
				uk.nav.justify-content-center.nav-footer
					li.nav-item
						a.nav-link(href="") Terms of Service
					li.nav-item
						a.nav-link(href="") Privacy Policy
					li.nav-item
						a.nav-link(href="") Packages