-
	var 
		page = {
			// Page Title
			title: "Adlantique",

			// Page Name
			name: "home",

			// Display Navbar
			navbar: true,

			// Transparent Navbar
			transparentNavbar: true,

			// Fixed Navigation
			fixedNavbar: true,

			// Display Footer
			footer: true,

			// Style Links
			links: [
				{url: "assets/css/main.css"}
			],

			// Script Tags
			scripts: [
				{url: "vendors/jquery/dist/jquery.min.js"},
				{url: "vendors/bootstrap/dist/js/bootstrap.bundle.min.js"},
				{url: "assets/js/adlantique-dist.js"}
			],
			
			// Footer Links
			socialLinks: [
				{url: "", icon: "", name: "facebook"},
				{url: "", icon: "", name: "instagram"},
				{url: "", icon: "", name: "twitter"},
				{url: "", icon: "", name: "linkedin"},
			]
		}

		function setPage (data) {
			for (key in data) {
				value = data[key];
				page[key] = value;
			}
		}

		var mediums = [
			{name: "Facebook", file: "assets/img/social/facebook-gradient.png", url: ""},
			{name: "Instagram", file: "assets/img/social/instagram-gradient.png", url: ""},
			{name: "Twitter", file: "assets/img/social/twitter-gradient.png", url: ""},
			{name: "LinkedIn", file: "assets/img/social/linkedin.png", url: ""},
			{name: "Google Ad", file: "assets/img/social/google.png", url: ""},
			{name: "Newsletters", file: "assets/img/social/newsletter.png", url: ""},
			{name: "Outdoor Ad", file: "assets/img/social/outdoor.png", url: ""},
			{name: "Bulk Sms", file: "assets/img/social/sms.png", url: ""},
			{name: "Tv", file: "assets/img/social/tv-gradient.png", url: ""},
			{name: "Radio", file: "assets/img/social/radio-gradient.png", url: ""},
			{name: "Print", file: "assets/img/social/print.png", url: ""},
		];