extends layouts/_landing

block vars
	-
		setPage({
			name: "about",
			title: "About Adlantique",
			footer: false,
			smallFooter: true,
		});

block content
	.banner.text-white(style="background-image: url('assets/img/bg/landing.png'); padding-bottom: 150px")
		.container
			.banner-content
				.row
					.col-md-5
						img.img-fluid.mb-3(src="assets/img/icons/web.png", alt="Register With Adlantique", style="max-width: 350px")
						h3.font-weight-900.text-uppercase Connect with  billions of potential CUSTOMERS
						p.mb-5.pb-4.small.font-weight-light Last year, we found the vast majority of marketers are familiar with running programmatic campaigns. Last year, we found the vast majority of marketers are familiar with running programmatic campaigns.
						.small: .small.font-weight-600.text-uppercase ˜Adlantique˜
					.col-md-6.ml-auto
						h3 SIGN IN
						form.font-size-10
							.form-group
								label(for="") Email
								input.form-control.rounded-pill.border-0(type="text")

							.form-group
								label(for="") Password
								input.form-control.rounded-pill.border-0(type="password")

							.form-group
								.row.justify-content-between
									.col-auto
										.checkbox
											input#remember.checkbox-input(type="checkbox", checked)
											label.checkbox-label(for="remember") Remember my password
									.col-auto
										a.text-white(href="javascript:") Forgot Password?

							.form-group
								button.btn.btn-success.btn-block.text-uppercase.rounded-pill.font-weight-600(type="submit") Login

							p.text-center: a.text-white(href="javascript:") 
								| Already have an account? 
								b.font-weight-700 Sign in.