extends layouts/_app

block vars
	-
		setPage({
			name: "my-ads",
			title: "My Ads"
		});

		
block pageTitle
	| MY ADS

block pageHeader
	div.font-size-sm Need some help? Contact us at
	div.font-size-sm support@Adlantique.com

block content
	.app-container.py-5
		h5.text-danger.text-uppercase.mb-4 Facebook Ads
		.row.ads
			.col-md-2.col-sm-6
				.ad.font-size-10.text-muted
					img.img-fluid.mb-3(src="assets/img/screens/ad.png", alt="Xyz Campaign Advert Banner")
					.row
						.col-10
							.font-weight-bold Campaign Title:
							.mb-2 Xyz Campaign Advert Banner

							.font-weight-bold Description:
							div To become a UX expert, designers need to work hard on the daily basis. Constant self-improvement and love to…
						.col-2.d-flex.align-items-end.dropdown
							a.ad-more(href="javascript" data-toggle="dropdown")
								img(src="assets/img/icons/more.svg", alt="Actions")
							ul.dropdown-menu
								a.dropdown-item(href="javascript:") More Details
								a.dropdown-item(href="javascript:") Delete

			.col-md-2.col-sm-6
				.ad.font-size-10.text-muted
					img.img-fluid.mb-3(src="assets/img/screens/ad.png", alt="Xyz Campaign Advert Banner")
					.row
						.col-10
							.font-weight-bold Campaign Title:
							.mb-2 Xyz Campaign Advert Banner

							.font-weight-bold Description:
							div To become a UX expert, designers need to work hard on the daily basis. Constant self-improvement and love to…
						.col-2.d-flex.align-items-end.dropdown
							a.ad-more(href="javascript" data-toggle="dropdown")
								img(src="assets/img/icons/more.svg", alt="Actions")
							ul.dropdown-menu
								a.dropdown-item(href="javascript:") More Details
								a.dropdown-item(href="javascript:") Delete

			.col-md-2.col-sm-6
				.ad.font-size-10.text-muted
					img.img-fluid.mb-3(src="assets/img/screens/ad.png", alt="Xyz Campaign Advert Banner")
					.row
						.col-10
							.font-weight-bold Campaign Title:
							.mb-2 Xyz Campaign Advert Banner

							.font-weight-bold Description:
							div To become a UX expert, designers need to work hard on the daily basis. Constant self-improvement and love to…
						.col-2.d-flex.align-items-end.dropdown
							a.ad-more(href="javascript" data-toggle="dropdown")
								img(src="assets/img/icons/more.svg", alt="Actions")
							ul.dropdown-menu
								a.dropdown-item(href="javascript:") More Details
								a.dropdown-item(href="javascript:") Delete

			.col-md-2.col-sm-6
				.ad.font-size-10.text-muted
					img.img-fluid.mb-3(src="assets/img/screens/ad.png", alt="Xyz Campaign Advert Banner")
					.row
						.col-10
							.font-weight-bold Campaign Title:
							.mb-2 Xyz Campaign Advert Banner

							.font-weight-bold Description:
							div To become a UX expert, designers need to work hard on the daily basis. Constant self-improvement and love to…
						.col-2.d-flex.align-items-end.dropdown
							a.ad-more(href="javascript" data-toggle="dropdown")
								img(src="assets/img/icons/more.svg", alt="Actions")
							ul.dropdown-menu
								a.dropdown-item(href="javascript:") More Details
								a.dropdown-item(href="javascript:") Delete

			.col-md-2.col-sm-6
				.ad.font-size-10.text-muted
					img.img-fluid.mb-3(src="assets/img/screens/ad.png", alt="Xyz Campaign Advert Banner")
					.row
						.col-10
							.font-weight-bold Campaign Title:
							.mb-2 Xyz Campaign Advert Banner

							.font-weight-bold Description:
							div To become a UX expert, designers need to work hard on the daily basis. Constant self-improvement and love to…
						.col-2.d-flex.align-items-end.dropdown
							a.ad-more(href="javascript" data-toggle="dropdown")
								img(src="assets/img/icons/more.svg", alt="Actions")
							ul.dropdown-menu
								a.dropdown-item(href="javascript:") More Details
								a.dropdown-item(href="javascript:") Delete

			.col-md-2.col-sm-6
				.ad.font-size-10.text-muted
					img.img-fluid.mb-3(src="assets/img/screens/ad.png", alt="Xyz Campaign Advert Banner")
					.row
						.col-10
							.font-weight-bold Campaign Title:
							.mb-2 Xyz Campaign Advert Banner

							.font-weight-bold Description:
							div To become a UX expert, designers need to work hard on the daily basis. Constant self-improvement and love to…
						.col-2.d-flex.align-items-end.dropdown
							a.ad-more(href="javascript" data-toggle="dropdown")
								img(src="assets/img/icons/more.svg", alt="Actions")
							ul.dropdown-menu
								a.dropdown-item(href="javascript:") More Details
								a.dropdown-item(href="javascript:") Delete


		h5.text-danger.text-uppercase.mb-4 Twitter Ads
		.row.ads
			.col-md-2.col-sm-6
				.ad.font-size-10.text-muted
					img.img-fluid.mb-3(src="assets/img/screens/ad.png", alt="Xyz Campaign Advert Banner")
					.row
						.col-10
							.font-weight-bold Campaign Title:
							.mb-2 Xyz Campaign Advert Banner

							.font-weight-bold Description:
							div To become a UX expert, designers need to work hard on the daily basis. Constant self-improvement and love to…
						.col-2.d-flex.align-items-end.dropdown
							a.ad-more(href="javascript" data-toggle="dropdown")
								img(src="assets/img/icons/more.svg", alt="Actions")
							ul.dropdown-menu
								a.dropdown-item(href="javascript:") More Details
								a.dropdown-item(href="javascript:") Delete

			.col-md-2.col-sm-6
				.ad.font-size-10.text-muted
					img.img-fluid.mb-3(src="assets/img/screens/ad.png", alt="Xyz Campaign Advert Banner")
					.row
						.col-10
							.font-weight-bold Campaign Title:
							.mb-2 Xyz Campaign Advert Banner

							.font-weight-bold Description:
							div To become a UX expert, designers need to work hard on the daily basis. Constant self-improvement and love to…
						.col-2.d-flex.align-items-end.dropdown
							a.ad-more(href="javascript" data-toggle="dropdown")
								img(src="assets/img/icons/more.svg", alt="Actions")
							ul.dropdown-menu
								a.dropdown-item(href="javascript:") More Details
								a.dropdown-item(href="javascript:") Delete

			.col-md-2.col-sm-6
				.ad.font-size-10.text-muted
					img.img-fluid.mb-3(src="assets/img/screens/ad.png", alt="Xyz Campaign Advert Banner")
					.row
						.col-10
							.font-weight-bold Campaign Title:
							.mb-2 Xyz Campaign Advert Banner

							.font-weight-bold Description:
							div To become a UX expert, designers need to work hard on the daily basis. Constant self-improvement and love to…
						.col-2.d-flex.align-items-end.dropdown
							a.ad-more(href="javascript" data-toggle="dropdown")
								img(src="assets/img/icons/more.svg", alt="Actions")
							ul.dropdown-menu
								a.dropdown-item(href="javascript:") More Details
								a.dropdown-item(href="javascript:") Delete

			.col-md-2.col-sm-6
				.ad.font-size-10.text-muted
					img.img-fluid.mb-3(src="assets/img/screens/ad.png", alt="Xyz Campaign Advert Banner")
					.row
						.col-10
							.font-weight-bold Campaign Title:
							.mb-2 Xyz Campaign Advert Banner

							.font-weight-bold Description:
							div To become a UX expert, designers need to work hard on the daily basis. Constant self-improvement and love to…
						.col-2.d-flex.align-items-end.dropdown
							a.ad-more(href="javascript" data-toggle="dropdown")
								img(src="assets/img/icons/more.svg", alt="Actions")
							ul.dropdown-menu
								a.dropdown-item(href="javascript:") More Details
								a.dropdown-item(href="javascript:") Delete

