extends layouts/_app

block vars
	-
		setPage({
			
		});

block pageTitle

block pageHeader

block content
	.main.letter-spacing-sm
		.container
			.row
				.col-lg-8.mx-auto
					h4.text-danger.mb-5.text-uppercase.text-center Select your prefered Advertising meduim

					.row
						for medium in mediums
							-;
							.col-md-2.text-center.mb-5.px-2
								img.img-fluid.mb-3(src=medium.file, alt="", width="60")
								p.font-weight-light.font-size-sm #{medium.name}

					.pt-5
					hr.mb-5
					.text-right
						a.btn.btn-success.text-uppercase.rounded-pill(href="javascript:") Get Started